
// Main Container CARD
.best-product-cards-main-container{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}

// Image of product
.best-seller-product-cards-img{
    // display: block;
    max-width: 100%;
    width: 260px;
    height: 289px;
}


// Product tittle
.best-seller-product-cards-title{
    font-size: 18px;
    font-weight: bold;
}

// Mobile
@media screen and (max-width: 800px){
    .best-product-cards-main-container{
        text-align: center;
        display: flex;
    }
}

