
// Main Container
.signup-main-container{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px;
}

// Container Form
.signup-card-register{
    width: 400px;
    padding: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// H1 top
.signup-card-h1{
    text-align: center;
    margin-bottom: 15px;
}

form{
    width: 100%;
}

// Inputs & label container
.signup-card-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

// Label
.signup-card-form-label{
    font-weight: 500px;
    font-size: 15px;
}

// Inputs
.signup-card-form-input{
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid rgba(128, 128, 128, 0.249);
}

// Input Error
.signup-card-form-input-error{
    position: relative;
    top: -10px;
    font-size: 14px;
    color: red;
    font-weight: bold;
}
// Input focus
.signup-card-form-input:focus{
    outline: 1px solid rgba(128, 128, 128, 0.356);
}

// Button container
.signup-card-form-ways{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

// Span on the redirect
.signup-card-form-redirect-login span{
    font-size: 14px;
}

// Button
.signup-card-form-button{
    width: 30%;
    font-weight: bold;
    border: none;
    background-color: #455076;
    padding: 6px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}


