
// Roboto Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
// Poppins Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;700&display=swap');

// Components
@import './components/navbar.scss';
@import './components/signin.scss';
@import './components/oneProduct.scss';
@import './components/bestSelling.scss';
@import './components/bestSellingProductsCards.scss';
@import './components/signup.scss';
@import './components/allProducts.scss';
@import './components/allProductsCards.scss';
@import './components/productById.scss';
@import "./components/productsCart.scss";
@import './components//emptyCart.scss';
@import './components/googlePopOut.scss';
@import './components/navbarResponsive.scss';


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

